$button-border: 4px;
$button-background-hover: rgba($theme-light-border, .1);
$button-background-hover--disabled: rgba($theme-light-border, .3);
$button-background--loading: rgba($theme-light-border, .4);

.go-button {
  @include button-border-gradient;

  background-origin: padding-box, border-box; // This is important
  background-repeat: no-repeat; // This is important
  border: $button-border solid transparent;
  border-radius: $global-radius;
  color: $base-dark;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-stack;
  font-size: 1rem;
  line-height: 1rem;
  outline-color: $theme-light-border;
  outline-offset: -2px;
  padding: $column-gutter--half $column-gutter;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: color $global-transition-duration $global-transition-timing;

  &::before {
    border: ($button-border / 2) solid $base-light;
    border-radius: $global-radius - 1;
    bottom: -1px;
    content: '';
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
    transition: background $global-transition-duration $global-transition-timing;
  }

  &:hover,
  &:disabled {
    color: $base-darkest;
  }

  &:hover:not(.go-button--loading)::before {
    background: $button-background-hover;
  }

  &:disabled:not(.go-button--loading) {
    @include button-border-gradient;

    cursor: not-allowed;

    &:hover::before,
    &::before {
      background: $button-background-hover--disabled;
    }

    .go-button__icon {
      @include fill-text-background($color: $theme-light-border);
    }
  }

  .go-button__icon {
    font-size: 1.25rem;
    line-height: inherit;
    margin-left: -$column-gutter--quarter;
    margin-right: $column-gutter--quarter;
    vertical-align: top;
  }
}

.go-button--loading {
  color: $base-darkest;
  cursor: wait;

  &::before {
    animation: background-animation 1.75s linear infinite;
    background: linear-gradient(to right, transparent, $button-background--loading, transparent);
    background-position: -1000px 0;
    background-repeat: repeat-x;
    background-size: 1000px 100%;
  }
}

.go-button--negative {
  @include button-border-gradient($gradient: $ui-color-negative-gradient);

  outline-color: $ui-color-negative-active;

  &:hover:not(.go-button--loading)::before {
    background: $ui-background-negative;
  }

  &.go-button--loading::before {
    background: linear-gradient(to right, transparent, rgba($ui-color-negative, .2), transparent);
    background-size: 1000px 100%;
  }
}

.go-button--neutral {
  @include button-border-gradient($gradient: $ui-color-neutral-gradient);

  outline-color: $ui-color-neutral-active;

  &:hover:not(.go-button--loading)::before {
    background: $ui-background-neutral;
  }

  &.go-button--loading::before {
    background: linear-gradient(to right, transparent, rgba($ui-color-neutral, .2), transparent);
    background-size: 1000px 100%;
  }
}

.go-button--positive {
  @include button-border-gradient($gradient: $ui-color-positive-gradient);

  outline-color: $ui-color-positive-active;

  &:hover:not(.go-button--loading)::before {
    background: $ui-background-positive;
  }

  &.go-button--loading::before {
    background: linear-gradient(to right, transparent, rgba($ui-color-positive, .3), transparent);
    background-size: 1000px 100%;
  }
}

@keyframes background-animation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 1000px 0;
  }
}
