.go-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0rem -1rem;
}

.go-container--no-wrap {
  flex-wrap: nowrap;
}

.go-column {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 1rem 2rem 1rem;

  > *:not(.go-container) {
    width: 100%;
  }
}

@each $name, $size in $column_sizes {
  .go-column--#{$name} {
    flex-basis: percentage($size);

    @if ($name <= 25) {
      @extend %tablet__flex-basis--50;
      @extend %mobile__flex-basis--100; 
    } @else {
      @extend %tablet__flex-basis--100; 
    }
  }
}
