@mixin go-button-mutator(
  $dark-modifier: false,
  $dark-theme: false,
  $from: $theme-light-border,
  $gradient: null,
  $hover-background: false,
  $loading-modifier: false,
  $to: $theme-light-border
) {
  $color-gradient: if($gradient, $gradient, linear-gradient(to bottom, $from, $to));
  $dark-gradient: linear-gradient($theme-dark-bg, $theme-dark-bg);
  $light-gradient: linear-gradient($theme-light-bg, $theme-light-bg);
  $selected-gradient: if($dark-theme, $dark-gradient, $light-gradient);

  background-image: $selected-gradient, $color-gradient;

  @if ($dark-modifier) {
    &.go-button--dark {
      background-image: $dark-gradient, $color-gradient;
    }
  }

  @if (type-of($loading-modifier) == color) {
    &.go-button--loading::before {
      background: linear-gradient(to right, transparent, $loading-modifier, transparent);
      background-size: 1000px 100%;
    }
  }

  @if (type-of($hover-background) == color) {
    &:hover:not(.go-button--loading)::before {
      background: $hover-background;
    }
  }
}

@mixin fill-text-background($fill: null, $color: $base-dark) {
  // sass-lint:disable-block no-vendor-prefixes property-sort-order
  color: $color;

  @supports (background-clip: text) or (-webkit-background-clip: text) {
    @if ($fill) {
      background: $fill;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    } @else {
      background: transparent;
      background-clip: border-box;
      -webkit-background-clip: border-box;
      -webkit-text-fill-color: currentcolor;
    }
  }
}

@mixin disabled-input {
  background: {
    color: $theme-light-app-bg;
    image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAqCAYAAADS4VmSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYdJREFUeNrsV+1tgzAQLSgDeIM2G6QbkAnICHSCigmaTICYIGzQMEHYoBmBbsAG7bv2IiHLxh848McnnSzL+O7d+e7ZJE+O0ratwJBBd9LSDdrleT642EscHL9g+IAWhk8b6AlA+mAA4PyA4QwVlngpC28AcZkNAM4Ldu4jBKLxBgDndM5fmggpum+eP0MPmgy9AsRN52NjiOBTc8alXGwAW2KoFDVCNrbOGdCknorraMjakYvV6ijSCVu5NO9Mzv82/X/TGWxZAcikee1QfLXBlhUAIUV2sfWu+FY4AWDSWURSTQT9qgCWlNUBJFLfj89e7uWTo+2p/f2dFxK+Xq+K6/XRQvS8T5k+dytkn3xWqcX9/kgpYhdEABHAZsbegcnk3tNiyQwQjW5Bp3tSfvM1XncBqPjHcU/HTlXviOvU6ydUBmrPtWAABs+1YACE51owAO+ea8HaMEOxncd/R/ymqFwL0LcLgvLAHCISPhHHuyACiABUAJoV/TcEoBwRytJ/RuWvAAMAsBxvzn+b8C4AAAAASUVORK5CYII=');
    position: right $column-gutter top .8rem;
    repeat: no-repeat;
    size: auto $column-gutter--three-quarters;
  }
  cursor: not-allowed;
}

@mixin transition(
  $property: all,
  $duration: $global-transition-duration,
  $timing: $global-transition-timing
) {
  transition: {
    duration: $global-transition-duration;
    property: $property;
    timing-function: $timing;
  };
}
