.go-table {
  max-width: 100%;
  overflow-x: auto;
}

.go-table__table {
  border-spacing: 0;
  color: $theme-light-color;
  width: 100%;
}

.go-table__head-column {
  color: $theme-light-color;
  cursor: pointer;
  font-size: .75rem;
  font-weight: bold;
  letter-spacing: 1pt;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  transition: background .25s cubic-bezier(.25, .8, .25, 1);
  white-space: nowrap;

  &:hover {
    background: $theme-light-app-bg;
  }

  &:first-of-type {
    border-top-left-radius: $global-radius;
  }

  &:last-of-type {
    border-top-right-radius: $global-radius;
  }
}

.go-table__head-content {
  display: flex;
  line-height: 1;
}

.go-table__sort-icon {
  display: inline-block;
  height: .75rem;
  padding-left: .25rem;
}

.go-table__body-column {
  border-bottom: 1px solid $theme-light-app-bg;
  font-size: .875rem;
  padding: .875rem 1.25rem;

  .go-table__body-row:first-child & {
    border-top: 1px solid $theme-light-app-bg;
  }

  .go-table__body-row:last-child & {
    border-bottom: 0;
  }
}
